<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi,<%= @user.first_name %> <%= @user.last_name %> </h1>
    <p>
      Your Order has been successfully placed
    </p>
    <p>Thanks for Shopping and have a great day!</p>
  </body>
</html>
