<div class="cartbody">

<div class="container cartcss">

    
    <div class="border border-2 emptycart" style="text-align:center;">
      <img src="https://cdn3.iconfinder.com/data/icons/shopping-and-ecommerce-29/90/empty_cart-512.png",class="img-fluid" style="width: 300px;">
      <h3>Your cart is currently empty </h3>
      <p style="color:#495057;">Before Proceed to checkout,you must add some products on your cart.You willl find a lot of interesting products on our "Shop" page. </p>

      <div class="d-flex justify-content-center mt-2">
       <a class="btn btn-success" href="/"><i class="bi bi-cart-fill"></i> Return to Shop Page</a>
      </div>

    </div>

</div>

</div>