.my_img_size{
    height:250px;
    width: 200px;
}

.main-body
{   
   
    height: 100vh;
    width: 100vw;
/*    background-color: red;*/
    background-image: url(shopping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.commonshadow
{
    opacity: 0.8;
    color:white;
    background-color: black;
    outline: none;
    border-radius: 20px;
    z-index: 1;

}