body{
    background-color: whitesmoke;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.my_img_size{
    height:250px;
    width: 200px;
}


.main-body
{   
   
    height: 100vh;
    width: 100vw;
/*    background-color: red;*/
    background-image: url(shopping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.commonshadow
{
    opacity: 0.8;
    color:white;
    background-color: black;
    outline: none;
    border-radius: 20px;
    z-index: 1;

}

.card{

   z-index:12;
   opacity: 1;
   border:none;
   outline: none;
/*   height: 320px;*/
}

.img-size
{
    width: 150px;
}

.img-size2
{
/*    height: 320px;*/
/*    width: 400px;*/
}

.productsliderimg{
    width: 100%;
    height: 200px;
}

.dlink{
     text-decoration: none;
     color: white;
}

.bstart{

     position: relative;
}

.bend{

   position: absolute;
   bottom: 0px;
   left: 680px;
}

.wish{
    overflow-x: hidden;
}

.cnavbar{
     overflow: hidden;
     position: sticky;
     top: 0;
     width:100%;
     z-index: 20;
     background-color: blue;
     color:white;
     border: none;
     outline: none;
     border-radius: 2px;
     opacity: 0.6;
}


.items{
  width:80%;
  margin:0px auto;
  margin-top: 10px;
}
.slick-slide{
  margin:20px;
}
.slick-slide img{
  border: 0px solid #fff;
}


.slick-arrow{
/*    color:black !important;*/
    background-color: black !important;
    border-radius: 50%;
    padding: 5px;
}

.cartbody{
  
    height: 100vh;
    width: 100vw;
    background-image: url("https://img.freepik.com/premium-vector/woman-applying-voucher-discount-online-shopping_701961-7853.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.cartcss{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.emptycart{
    height: 500px;
    width: 650px;
    padding: 10px;
    background-color: white;
    border:none;
    outline: none;
    border-radius: 10px;
}

.categoryimgcss{
    height: 10px !important;
    width: 10px !important;
}

#custom-toast{
    height: 60px;
    width: 300px;
    background-color: green;
    outline: none;
    position: fixed;
    right: 10px;
    top:10px;
    color:white;
    opacity: 0.8;
    font-size: 15px;
    padding:10px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 12;
}

#custom-toast p{
    margin-top: 2px;
}

.styleanchor{
    text-decoration: none;
    color:black;
}

.rating{
    background-color: green;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    color:white;

}

.additemtowish{
    border:1px solid #CDC5BD;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 3px;
    box-shadow: 5px 5px 5px whitesmoke;
    text-align: center;
}

.review-form{
  display: none;
}


#loader
{
    position: fixed;
    width:100%;
    height:100vh;
    background:#f7f7f7 url("https://cdn.dribbble.com/users/801336/screenshots/6804899/google_loader_concept_physics.gif") no-repeat center;
    background-size: contain;
    z-index: 99999;
}


.sp{
     text-decoration: none;
     color: white;
}

.sp:hover{
  
   color:blue;
}

#backtotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  color: #0984e3;
  z-index: 4545;
  opacity: 0.8;
/*  background-color: #ffffff;*/
  display: none;
}


#backtotop:hover {
  color: darkblue;
}


.name-h:hover{
    color:blue;
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}

.cart-product-image{
    object-fit: cover;
    height: 198px;
}



footer {
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
    width: 100vw;
}
footer h5{

    text-align: left;
    margin-bottom: 20px;
}
footer .footerlinks{
    display: block;
    text-align: left;
    color: rgba(255,255,255,0.5);
    margin:5px;
}

footer .footerlinks a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
  
}
footer .footerlinks a:hover{
    color:#d63031;
}

footer .footer-contact{
    text-align: left;
    margin: 10px;
    display: flex;
    margin-left: auto;
}
footer .footer-contact span a{
    text-decoration: none;
    color:rgba(255,255,255,0.5);
}
footer .footer-contact span a:hover{

    color:#d63031;
}
footer .footer-contact span:last-child{
    color:rgba(255,255,255,0.5);
}

footer .footer-contact img{
    height: 30px;
    width: 30px;
}

.flinks{
    text-decoration: none;
    color:rgba(255,255,255,0.5);
}