<!-- Footer Section Start  -->
  <footer class="mt-5">
    <div class="container mt-3">

      <div class="row">

        <div class="col-md-3">
          <h5 class="my-2">About</h5>
          <span class="footerlinks"><a href="#Home">Contact Us</a></span>
          <span class="footerlinks"><a href="#About">About Us</a></span>
          <span class="footerlinks"><a href="#Symptoms">Careers</a></span>
          <span class="footerlinks"><a href="#Spreads">Stories</a></span>
          <span class="footerlinks"><a href="#Prevention">Press</a></span>
          <span class="footerlinks"><a href="#Contact">Wholesale</a></span>
          <span class="footerlinks"><a  target="_blank" href="#">Cleartrip</a></span>
          <span class="footerlinks"><a  target="_blank" href="#">Corporate Information </a></span>
        </div>
        <div class="col-md-3">
          <h5 class="my-2">Help</h5>
          <span class="footerlinks"><a href="#" target="_blank">Payments</a></span>
          <span class="footerlinks"><a href="#" target="_blank">Shipping</a></span>
          <span class="footerlinks"><a
              href="#"
              target="_blank">Cancellation And Returns</a></span>
          <span class="footerlinks"><a href="#" target="_blank">FAQ</a></span>
          <span class="footerlinks"><a href="#" target="_blank">Report Infringement</a></span>


        </div>

        <div class="col-md-3">

          <h5 class="my-2">CONSUMER POLICY</h5>

          <span class="footerlinks"><a href="#" target="_blank">Cancellations And Returns</a></span>
          <span class="footerlinks"><a href="https://www.mygov.in/campaigns/" target="_blank">Terms of Use</a></span>
          <span class="footerlinks"><a
              href="https://www.mygov.in/podcast/"
              target="_blank">Security</a></span>
          <span class="footerlinks"><a href="https://quiz.mygov.in/" target="_blank">Privacy</a></span>
          <span class="footerlinks"><a href="https://www.mygov.in/home/blog/" target="_blank">Sitemap</a></span>

          <span class="footerlinks"><a href="https://www.mygov.in/cards/" target="_blank">Grievance Redressal</a></span>
          <span class="footerlinks"><a href="https://www.mygov.in/weekly-newsletter/" target="_blank">EPR Compliance</a></span>


        </div>


        <div class="col-md-3">
          <h5 class="my-2">SOCIAL</h5>


          <div class="footer-contact">
           
            <a target="_blank"
                href="#" class="flinks"><i class="bi bi-facebook"></i> Facebook
            </a>

          </div>

          <div class="footer-contact">
           
            <a target="_blank" href="#" class="flinks"><i class="bi bi-twitter"></i> Twitter
            </a>

          </div>

          <div class="footer-contact">
          
            <a target="_blank" href="#" class="flinks"><i class="bi bi-youtube"></i> Youtube</a>

          </div>

          <div class="footer-contact">
            
            <a target="_blank" href="#" class="flinks"><i class="bi bi-instagram"></i> Instagram
            </a>

          </div>

  

        </div>

      </div>


    </div>
    <div class="center">
      Copyright &copy; 2023 Let's Shop. All rights reserved!
      <p>Created By Akash Khandelwal</p>
    </div>
  </footer>
  <!-- Footer Section End -->
